#brief {
  display: flex;
  flex-direction: column;
  gap: var(--cv-gutter-700);

  block-size: 100%;

  padding: var(--cv-gutter-700);

  img {
    inline-size: 100%;

    border: 0.5mm solid var(--color-white);
    border-radius: 2mm;
  }

  section {
    display: grid;
    gap: var(--cv-gutter-100);

    h2 {
      display: flex;
      align-items: baseline;
      gap: 1ch;

      font-size: 1.4rem;

      &::after {
        content: "";

        flex: 1 1 0;

        border-block-start: 0.1em solid currentcolor;
      }
    }

    ul {
      display: grid;
      gap: var(--cv-gutter-100);

      li {
        display: flex;
        justify-content: space-between;

        .text,
        .value {
          font-weight: 500;
        }
      }
    }

    &.contact,
    &.social,
    &.references {
      ul {
        li {
          .icon {
            display: flex;
            gap: 1ch;
          }

          .text {
            direction: ltr;
          }
        }
      }
    }

    &.qr-code {
      margin-block-start: auto;

      svg {
        block-size: auto;
        inline-size: 100%;

        border-radius: 1rem;
      }
    }
  }
}
