#brief {
    background-color: var(--cv-color-primary);
    color: var(--cv-color-primary-opposite);

    display: grid;
    align-content: start;
    gap: var(--cv-gutter-700);

    padding: var(--cv-gutter-700);

    img {
        inline-size: 100%;

        border: 0.5mm solid var(--color-white);
        border-radius: 2mm;
    }

    section {
        display: grid;
        gap: var(--cv-gutter-100);

        ul {
            display: grid;
            gap: var(--cv-gutter-100);

            li {
                display: flex;
                justify-content: space-between;

                .text,
                .value {
                    font-weight: 500;
                }
            }
        }

        &.contact,
        &.social {
            ul {
                li {
                    .text {
                        direction: ltr;
                    }
                }
            }
        }
    }
}
