---

---

<section id="english">
    <h2>زبان انگلیسی</h2>
    <ul>
        <li>مهارت شنیدن (Listening): عالی</li>
        <li>مهارت خواندن (Reading): عالی</li>
        <li>مهارت نوشتن (Writing): خوب</li>
        <li>مهارت صحبت کردن (Speaking): متوسط</li>
    </ul>
</section>
