---

---

<section id="hard-skills">
    <h2>مهارت‌های فنی</h2>
    <ul>
        <li>
            بیش از
            <strong>5 سال سابقه کار حرفه‌ای</strong>
            در زمینه
            <strong>Web Development</strong>
        </li>
        <li>
            تسلط کامل بر
            <strong>HTML</strong>،&#x202B;
            <strong>CSS</strong>
            و
            <strong>JavaScript</strong>
        </li>
        <li>
            تسلط کامل بر
            <strong>TypeScript</strong>
            و ساخت تایپ‌های پیچیده با استفاده از
            <strong>Utility Types</strong>
        </li>
        <li>
            تسلط کامل بر کتابخانه‌ها و فریمورک‌های
            <strong>React</strong>،&#x202B;
            <strong>Next.js</strong>
            و
            <strong>Angular</strong>
        </li>
        <li>
            تسلط کامل بر ابزارهای
            <strong>React Router</strong>،&#x202B;
            <strong>React Query</strong>،&#x202B;
            <strong>React Hook Form</strong>،&#x202B;
            <strong>Zod</strong>
            و
            <strong>i18next</strong>
        </li>
        <li>
            تسلط کامل بر ابزارهای State Management مانند
            <strong>Redux</strong>
            و
            <strong>Zustand</strong>
        </li>
        <li>
            تسلط کامل بر مفاهیم
            <strong>SPA</strong>،&#x202B;
            <strong>MPA</strong>،&#x202B;
            <strong>SSR</strong>،&#x202B;
            <strong>SSG</strong>
            و
            <strong>Server Component</strong>
        </li>
        <li>
            تسلط کامل بر ابزارهای نگهداری کد مانند
            <strong>Prettier</strong>،&#x202B;
            <strong>ESLint</strong>،&#x202B;
            <strong>Stylelint</strong>
            و
            <strong>Husky</strong>
        </li>
        <li>
            تسلط کامل بر کتابخانه‌های انیمیشن‌سازی مانند
            <strong>GSAP</strong>
            و
            <strong>Framer Motion</strong>
        </li>
        <li>
            تسلط کامل بر مفاهیم
            <strong>Promise</strong>
            و
            <strong>Async/Await</strong>
        </li>
        <li>
            تسلط کامل بر مفاهیم
            <strong>HTTP/HTTPS</strong>،&#x202B;
            <strong>RESTful</strong>
            و برقراری ارتباط با
            <strong>API</strong>
        </li>
        <li>
            تسلط کامل بر مفاهیم
            <strong>برنامه‌نویسی شیءگرا (OOP)</strong>،&#x202B;
            <strong>Clean Code</strong>
            و
            <strong>اصول SOLID</strong>
        </li>
        <li>
            تسلط کامل بر مفاهیم
            <strong>بازنویسی (Refactor)</strong>
            و
            <strong>اشکال‌زدایی (Debugging)</strong>
        </li>
        <li>
            تسلط کامل بر ابزارهای کنترل نسخه
            <strong>(Version Control)</strong>
            مانند
            <strong>Git</strong>،&#x202B;
            <strong>GitHub</strong>
            و
            <strong>Azure</strong>
        </li>
        <li>
            تسلط کامل بر فرآیندسازی
            <strong>CI/CD</strong>
            و
            <strong>GitHub Workflow</strong>
        </li>
        <li>
            تسلط کامل بر اصول طراحی
            <strong>رابط کاربری (UI)</strong>
        </li>
        <li>
            آشنایی با ابزارهای تست‌نویسی مانند
            <strong>Jest</strong>،&#x202B;
            <strong>Cypress</strong>
            و
            <strong>Storybook</strong>
        </li>
        <li>
            آشنایی با مفاهیم پایگاه داده
            <strong>(Database)</strong>
            و زبان‌ها و ابزارهای
            <strong>MySQL</strong>،&#x202B;
            <strong>PostgreSQL</strong>
            و
            <strong>Postman</strong>
        </li>
        <li>
            آشنایی با مفاهیم
            <strong>Best Practice</strong>
            و
            <strong>Design Pattern</strong>
        </li>
        <li>
            آشنایی با مفاهیم
            <strong>Agile</strong>،&#x202B;
            <strong>Scrum</strong>
            و
            <strong>Sprint</strong>
        </li>
        <li>
            توانایی کار با ابزارهای طراحی مانند
            <strong>Figma</strong>
            و
            <strong>تبدیل طرح (Design) به کد</strong>
            با دقت بالا و شباهت حداکثری
        </li>
        <li>
            توانایی ساخت سایت‌های
            <strong>Responsive</strong>
            و
            <strong>Accessible</strong>
        </li>
        <li>
            سابقه کار با معماری
            <strong>Microservice</strong>
        </li>
    </ul>
</section>
