---

---

<section id="honors">
    <h2>افتخارات</h2>
    <ul>
        <li>
            کسب
            <strong>رتبه 1</strong>
            در مسابقه‌ی
            <strong>دیجی‌کالا</strong>
            {` `}
            (<a href="https://schort.ir/q33751" target="_blank">schort.ir/q33751</a>)
        </li>
        <li>
            کسب
            <strong>رتبه 1</strong>
            در مسابقه‌ی
            <strong>همراه اول</strong>
            {` `}
            (<a href="https://schort.ir/q25979" target="_blank">schort.ir/q25979</a>)
        </li>
        <li>
            کسب
            <strong>رتبه 1</strong>
            در مسابقه‌ی
            <strong>کوئرا</strong>
            {` `}
            (<a href="https://schort.ir/q35057" target="_blank">schort.ir/q35057</a>)
        </li>
        <li>
            کسب
            <strong>رتبه 1 مشترک</strong>
            در مسابقه‌ی
            <strong>اسنپ</strong>
            {` `}
            (<a href="https://schort.ir/q31890" target="_blank">schort.ir/q31890</a>)
        </li>
        <li>
            کسب
            <strong>رتبه 1 مشترک</strong>
            در مسابقه‌ی
            <strong>همکاران‌سیستم</strong>
            {` `}
            (<a href="https://schort.ir/q33749" target="_blank">schort.ir/q33749</a>)
        </li>
    </ul>
</section>
