---
import './Introduction.scss';
---

<section id="introduction">
    <h2>درباره من</h2>
    <p>توسعه‌دهنده‌ی فرانت‌اند با بیش از پنج سال تجربه در پیاده‌سازی رابط‌های کاربری مقیاس‌پذیر و کاربرپسند هستم.</p>
    <p>
        مسیر حرفه‌ای‌ام در شرکت مهیمن به عنوان توسعه‌دهنده و سپس Team Lead، فرصتی بود برای رهبری پروژه‌ای بزرگ و بهبود
        فرآیندهای فنی و تیمی.
    </p>
    <p>
        با تمرکز بر اصول Clean Code و معماری بهینه، سعی دارم محصولاتی بسازم که هم زیبا باشند و هم عملکردی بی‌نقص داشته
        باشند. در کنار توسعه، به آموزش و منتورینگ علاقه‌مندم و از انتقال دانش و رشد جمعی لذت می‌برم.
    </p>
    <p>
        در طی سال‌های اخیر به تدریس اصول حرفه‌ای در دوره‌ها و بوت‌کمپ‌ها پرداختم و به صدها نفر کمک کردم تا راه خود را
        پیدا کنند.
    </p>
</section>
