---
import './Introduction.scss';
---

<section id="introduction">
    <h2>درباره من</h2>
    <p>همیشه به تمام مباحث مربوط به کامپیوتر علاقه داشتم و از 12 سالگی برنامه‌نویسی رو شروع کردم.</p>
    <p>مدرک کارشناسی مهندسی کامپیوتر دارم و در حال حاضر در مقطع ارشد مشغول به تحصیل هستم.</p>
    <p>
        تابستون سال 1399 به‌عنوان توسعه‌دهندۀ فرانت‌اند وارد شرکت مهیمن شدم. بعد از 2 سال ترفیع گرفتم و
        <span>Team Lead</span>
        شدم.
    </p>
    <p>تجربۀ برگزاری سه دوره کارآموزی دارم و تا الان به صدها نفر تدریس کرده‌ام.</p>
    <p>
        سعی می‌کنم همیشه مطالب جدید یاد بگیرم و اگه حس کنم اثر مثبتی تو پروژه داره، ازشون استفاده کنم. همچنین تلاش
        می‌کنم مباحث مهمی رو که تو دنیا دارن روشون سرمایه‌گذاری می‌کنن اما تو ایران بهشون کمتر پرداخته میشه، مثل
        <span>Web Vitals</span>
        و Accessibility، به بقیه معرفی کنم و اهمیتشون رو جا بندازم.
    </p>
    <p>همیشه به‌دنبال رشد و پیشرفت برای خودم و دیگران هستم.</p>
</section>
