---
import './Introduction.scss';
---

<section id="introduction">
    <h2>درباره من</h2>
    <p>فارغ‌التحصیل کارشناسی مهندسی کامپیوتر از دانشگاه دولتی خوارزمی هستم.</p>
    <p>
        تابستون سال 1399 به‌عنوان توسعه‌دهندۀ فرانت‌اند وارد شرکت مهیمن شدم. بعد از 2 سال ترفیع گرفتم و
        <span>Team Lead</span>
        شدم.
    </p>
    <p>از سال 1402 به عنوان مدرس و همچنین به صورت پروژه‌ای کسب درآمد کردم.</p>
    <p>تجربۀ برگزاری سه دوره کارآموزی و چند بوت‌کمپ رو دارم و تا الان به صدها نفر تدریس کرده‌ام.</p>
</section>
