.jobs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
  gap: var(--cv-gutter-900);

  > li {
    --logo-size: 16mm;
    --column-gap: var(--cv-gutter-400);

    display: grid;
    align-content: space-between;
    gap: var(--cv-gutter-400);

    border-radius: var(--border-radius);

    .info {
      display: grid;
      grid-template-areas: "logo header" ". description";
      grid-template-columns: var(--logo-size) 1fr;
      align-content: start;
      gap: 0 var(--column-gap);

      .header {
        grid-area: header;

        display: grid;
        grid-template-areas: "title" "corporate" "duration";
        align-content: start;

        .title {
          grid-area: title;

          font-size: 1.4rem;
          font-weight: 700;

          line-height: 1.5;
        }

        .duration {
          grid-area: duration;
          align-self: end;

          opacity: 0.7;

          font-size: 1rem;
        }

        .corporate {
          grid-area: corporate;
        }
      }

      .logo {
        grid-area: logo;
      }

      .description {
        grid-area: description;

        display: grid;
        align-content: start;

        max-inline-size: 70ch;

        margin-block-start: var(--cv-gutter-400);

        > *:not(:has(+ ul)) {
          margin-block-end: var(--cv-gutter-400);
        }

        ul {
          list-style: disc inside;
        }
      }
    }

    .tags {
      display: none;
    }
  }
}
