---

---

<section id="soft-skills">
    <h2>مهارت‌های نرم</h2>
    <ul>
        <li>ادب و رفتار مناسب</li>
        <li>پایبندی به اصول اخلاقی و رفتار حرفه‌ای</li>
        <li>نظم و دقت</li>
        <li>توجه به جزئیات</li>
        <li>خلاقیت و نوآوری</li>
        <li>صبر و حوصله</li>
        <li>مسئولیت‌پذیری</li>
        <li>تعامل مناسب و کار تیمی</li>
        <li>انتقادپذیری</li>
        <li>ارائه فیدبک</li>
        <li>تلاش و پشتکار</li>
        <li>باانگیزه و باروحیه</li>
        <li>انعطاف‌پذیری</li>
        <li>توانایی حل مسئله</li>
        <li>شوق برای یادگیری</li>
        <li>توانایی تدریس</li>
    </ul>
</section>
