---

---

<section id="teaching">
    <h2>سوابق تدریس</h2>
    <ul>
        <li>
            دوره آموزشی
            <strong>ساختمان داده و طراحی الگوریتم</strong>
            همراه با انیمیشن در سال 1404
        </li>
        <li>
            <strong>بوت‌کمپ Next.js</strong>
            در سال 1403
            {` `}
            (<a href="https://www.aparat.com/playlist/12277708" target="_blank">aparat.com/playlist/12277708</a>)
        </li>
        <li>
            <strong>بوت‌کمپ React</strong>
            در سال 1403
        </li>
        <li>
            <strong>تدریس خصوصی</strong>
            در سایت استادبانک
            {` `}
            (<a href="https://www.ostadbank.com/tutor/bijanprogrammer" target="_blank"
                >ostadbank.com/tutor/bijanprogrammer</a
            >)
        </li>
        <li>
            دوره آموزشی
            <strong>برنامه‌نویسی مقدماتی پایتون</strong>
            {` `}
            (<a href="https://yazdiss.ir/courses/py1401" target="_blank">yazdiss.ir/courses/py1401</a>)
        </li>
        <li>
            دوره آموزشی ساخت
            <strong>بات تلگرام</strong>
            با زبان برنامه نویسی
            <strong>پایتون</strong>
            {` `}
            (<a href="https://www.isna.ir/news/1400071208270" target="_blank">isna.ir/news/1400071208270</a>)
        </li>
        <li>
            دوره آموزشی کار با
            <strong>Git</strong>
            و
            <strong>GitHub</strong>
            {` `}
            &#x202B;(<a href="https://www.aparat.com/playlist/373524" target="_blank">aparat.com/playlist/373524</a>)
        </li>
        <li>
            دوره آموزشی کار با
            <strong>Trello</strong>
            {` `}
            &#x202B;(<a href="https://www.aparat.com/playlist/379352" target="_blank">aparat.com/playlist/379352</a>)
        </li>
        <li>
            کارگاه‌های
            <strong>آموزش مقدماتی و پیشرفته Angular</strong>
            {` `}
            &#x202B;(<a href="https://www.aparat.com/playlist/1715141" target="_blank">aparat.com/playlist/1715141</a>)
        </li>
        <li>
            3 ترم TA درس
            <strong>مبانی کامپیوتر و برنامه‌سازی</strong>
        </li>
        <li>
            2 ترم TA درس
            <strong>برنامه‌سازی پیشرفته</strong>
        </li>
        <li>
            2 ترم TA درس
            <strong>ساختمان داده</strong>
        </li>
        <li>
            1 ترم TA درس
            <strong>تحلیل و طراحی سیستم‌ها</strong>
        </li>
    </ul>
</section>
