---

---

<section id="teaching">
    <h2>سوابق تدریس</h2>
    <ul>
        <li>
            <strong>دوره آموزشی</strong>
            برنامه‌نویسی مقدماتی
            <strong>پایتون</strong>
            <!-- [BIJAN] IGNORE: I don't want these two lines stick together. -->
            (<a href="https://yazdiss.ir/courses/py1401" target="_blank">yazdiss.ir/courses/py1401</a>)
        </li>
        <li>
            <strong>دوره آموزشی</strong>
            ساخت
            <strong>بات تلگرام</strong>
            با زبان برنامه نویسی
            <strong>پایتون</strong>
            <!-- [BIJAN] IGNORE: I don't want these two lines stick together. -->
            (<a href="https://www.isna.ir/news/1400071208270" target="_blank">isna.ir/news/1400071208270</a>)
        </li>
        <li>
            <strong>کارگاه‌های متنوع</strong>
            با هدف
            <strong>آشناکردن دانشجویان با صنعت</strong>
            <!-- [BIJAN] IGNORE: I don't want these two lines stick together. -->
            (<a href="https://www.aparat.com/playlist/885768" target="_blank">aparat.com/playlist/885768</a>)
        </li>
        <li>
            <strong>دوره آموزشی</strong>
            کار با
            <strong>Git</strong>
            و
            <strong>GitHub</strong>
            <!-- [BIJAN] IGNORE: I don't want these two lines stick together. -->
            &#x202B;(<a href="https://www.aparat.com/playlist/373524" target="_blank">aparat.com/playlist/373524</a>)
        </li>
        <li>
            <strong>دوره آموزشی</strong>
            کار با
            <strong>Trello</strong>
            <!-- [BIJAN] IGNORE: I don't want these two lines stick together. -->
            &#x202B;(<a href="https://www.aparat.com/playlist/379352" target="_blank">aparat.com/playlist/379352</a>)
        </li>
        <li>
            کارگاه‌های
            <strong>آموزش مقدماتی و پیشرفته Angular</strong>
            <!-- [BIJAN] IGNORE: I don't want these two lines stick together. -->
            &#x202B;(<a href="https://www.aparat.com/playlist/1715141" target="_blank">aparat.com/playlist/1715141</a>)
        </li>
        <li>
            <strong>حل مسائل</strong>
            آزمون ورودی
            <strong>کداستار 1401</strong>
            <!-- [BIJAN] IGNORE: I don't want these two lines stick together. -->
            (<a href="https://www.aparat.com/playlist/1671268" target="_blank">aparat.com/playlist/1671268</a>)
        </li>

        <li>
            3 ترم TA درس
            <strong>مبانی کامپیوتر و برنامه‌سازی</strong>
        </li>
        <li>
            2 ترم TA درس
            <strong>برنامه‌سازی پیشرفته</strong>
        </li>
        <li>
            2 ترم TA درس
            <strong>ساختمان داده</strong>
        </li>
        <li>
            1 ترم TA درس
            <strong>تحلیل و طراحی سیستم‌ها</strong>
        </li>
    </ul>
</section>
