@use "/src/styles/utils";

.button {
    background-color: var(--background-color);
    color: var(--color);

    position: relative;
    isolation: isolate;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    padding: 1rem 2rem;

    border-radius: var(--border-radius);

    @include utils.font-size-clamp(16, 18);

    cursor: pointer;

    text-decoration: none;

    &::before {
        --padding: 0;

        content: "";

        background-color: var(--background-color-hover);
        opacity: 0;

        position: absolute;
        inset: calc(-1 * var(--padding));
        z-index: -1;

        block-size: 100%;
        inline-size: 100%;

        transition: opacity var(--animation-duration-fast) ease-in-out;
    }

    svg {
        --size: 1.25em;

        block-size: var(--size);
        inline-size: var(--size);
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    &:focus-visible {
        outline: none;

        &::before {
            opacity: 1;

            outline: var(--outline-focus-visible);

            transition: none;
        }
    }

    &--primary {
        --background-color: var(--color-primary);
        --background-color-hover: var(--color-primary-darker);
        --color: var(--color-primary-opposite);
    }

    &--github {
        --background-color: var(--color-gray-10);
        --background-color-hover: var(--color-gray-20);
        --color: var(--color-gray-90);
    }

    &--icon {
        --background-color: transparent;
        --background-color-hover: var(--color-gray-90);
        --color: inherit;
        --padding: 0.5rem;

        background-color: transparent;

        display: inline-grid;
        place-items: center;

        padding: 0;

        border: none;

        &::before {
            --padding: 0.5rem;

            block-size: unset;
            inline-size: unset;

            border-radius: 999rem;
        }

        &--primary {
            --background-color: transparent;
            --background-color-hover: var(--color-primary-fade);
            --color: var(--color-primary);
        }
    }

    &--large {
        @include utils.font-size-clamp(18, 24);
    }
}
