:root {
    --color-gray-98: hsl(120deg 20% 98%);
    --color-gray-95: hsl(120deg 20% 95%);
    --color-gray-90: hsl(120deg 20% 90%);
    --color-gray-80: hsl(120deg 20% 80%);
    --color-gray-70: hsl(120deg 20% 70%);
    --color-gray-40: hsl(120deg 20% 40%);
    --color-gray-30: hsl(120deg 20% 30%);
    --color-gray-20: hsl(120deg 20% 20%);
    --color-gray-10: hsl(120deg 20% 10%);

    --color-primary: hsl(120deg 70% 40%);
    --color-primary-lighter: hsl(120deg 90% 70%);
    --color-primary-fade: hsl(120deg 70% 95%);
    --color-primary-opposite: var(--color-gray-98);

    --color-box-shadow-subtle: hsl(0deg 0% 10% / 12%);
    --box-shadow-subtle: 0 0.2rem 0.5rem 0 var(--color-box-shadow-subtle);

    --border-radius: 0.25rem;

    --full-width: 120rem;
    --full-width-padding-inline: calc(max(100% - var(--full-width), 4rem) / 2);

    --animation-duration-fast: 0.2s;
    --animation-duration-normal: 0.5s;
    --animation-duration-slow: 1s;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    color-scheme: light;

    scroll-behavior: smooth;

    font-family: "Vazirmatn", sans-serif;
    font-size: 62.5%;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
}

img {
    display: block;

    max-inline-size: 100%;
}

body {
    background-color: var(--color-gray-90);
    color: var(--color-gray-10);

    display: grid;
    grid-template-rows: auto 1fr auto;

    min-block-size: 100vh;
    min-block-size: 100dvh;

    font-size: 1.6rem;
}

img[src*="jwt.svg"] {
    background-color: var(--color-gray-10);
    padding: 10%;
    border-radius: 999rem;
}

a:not(.button) {
    color: inherit;

    position: relative;

    text-decoration: none;

    &::after {
        content: "";

        background-color: currentcolor;
        opacity: 0;

        position: absolute;
        inset-block-end: 0;
        inset-inline: 0;

        display: block;

        block-size: 0.1rem;
        inline-size: 100%;

        transform: scaleX(0);

        transition-property: transform, opacity;
        transition-duration: var(--animation-duration-fast);
        transition-timing-function: ease-in-out;
    }

    &:hover {
        &::after {
            opacity: 1;

            transform: scaleX(1);
        }
    }
}

.keep-it-together {
    white-space: nowrap;
}
