@use "/src/styles/utils";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding-block: 2rem;
    padding-inline: var(--full-width-padding-inline);

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 2.4rem;

        svg {
            --size: 1.5em;

            block-size: var(--size);
            inline-size: var(--size);
        }
    }

    .button {
        font-size: 2.4rem;
    }

    .button.menu {
    }

    .button.close {
        z-index: 2;
    }

    nav {
        ul {
            li {
                &.active {
                    a {
                        color: var(--color-primary);

                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media (max-width: 999px) {
    header {
        nav {
            background-color: var(--color-gray-98);

            position: fixed;
            inset: 0;
            z-index: 1;

            display: grid;
            align-content: start;

            padding: inherit;

            font-size: 2.4rem;

            ul {
                display: grid;
                gap: 2rem;

                li {
                    &.active {
                        a {
                            color: var(--color-primary);

                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .hidden {
            display: none;
        }
    }
}

@media (min-width: 1000px) {
    header {
        .button.menu {
            display: none;
        }

        .button.close {
            display: none;
        }

        nav {
            font-size: 1.6rem;

            ul {
                display: flex;
                gap: 2rem;
            }
        }
    }
}
