@use "/src/styles/utils";

header {
    background-color: var(--color-gray-98);

    position: sticky;
    inset-block-start: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding-block: 2rem;
    padding-inline: var(--full-width-padding-inline);

    .logo {
        color: inherit;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 2.4rem;
        text-decoration: none;

        svg {
            --size: 1.5em;

            block-size: var(--size);
            inline-size: var(--size);
        }

        h1 {
            font-size: inherit;
        }
    }

    .button {
        font-size: 2.4rem;
    }

    .button.menu {
    }

    .button.close {
        z-index: 2;
    }

    &.stuck {
        box-shadow: var(--box-shadow-subtle);
    }
}

@media (max-width: 999px) {
    header {
        nav {
            background-color: var(--color-gray-98);

            position: fixed;
            inset: 0;
            z-index: 1;
            overflow: auto;

            display: grid;
            align-content: start;

            padding: inherit;

            font-size: 2.4rem;

            ul {
                display: grid;
                gap: 2rem;
            }
        }

        .hidden {
            display: none;
        }
    }
}

@media (min-width: 1000px) {
    header {
        .button.menu {
            display: none;
        }

        .button.close {
            display: none;
        }

        nav {
            font-size: 1.6rem;

            ul {
                display: flex;
                gap: 2rem;
            }
        }
    }
}
