main {
    > section {
        &#jobs {
            display: grid;
            gap: 8rem;

            > ul {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
                gap: 2rem;

                > li {
                    background-color: var(--color-gray-98);
                    box-shadow: var(--box-shadow-subtle);

                    display: grid;
                    grid-template-rows: 1fr auto;
                    gap: 2rem;

                    padding: 2rem;

                    border-radius: var(--border-radius);

                    .info {
                        display: grid;
                        grid-template-areas: "header logo" "description description";
                        grid-template-columns: 1fr 8rem;
                        align-content: start;
                        gap: 0 1rem;

                        .header {
                            grid-area: header;

                            .title {
                                font-size: 2.8rem;
                                font-weight: 700;
                            }

                            .duration {
                                opacity: 0.5;
                            }

                            .corporate {
                                opacity: 0.8;
                            }
                        }

                        .logo {
                            grid-area: logo;

                            img {
                            }
                        }

                        .description {
                            grid-area: description;

                            max-inline-size: 70ch;

                            margin-block-start: 2rem;
                        }
                    }

                    .tags {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
                        gap: 2rem;

                        li {
                            img {
                                aspect-ratio: 1 / 1;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
}
