main {
    > section {
        padding-block: 4rem;

        padding-inline: var(--full-width-padding-inline);

        h2 {
            font-size: 4.8rem;
        }

        h3 {
            font-size: 3.6rem;
        }
    }

    .divider {
        background-color: var(--color-gray-98);

        block-size: 8rem;

        &.wide-to-narrow {
            clip-path: polygon(0% -1%, 100% -1%, 0% 100%);
        }

        &.narrow-to-wide {
            clip-path: polygon(0% 100%, 100% -1%, 100% 100%);
        }
    }
}
