main {
    > section {
        &#projects {
            background-color: var(--color-gray-98);

            display: grid;
            gap: 8rem;

            > ul {
                display: grid;
                align-items: center;
                gap: 16rem;

                > li {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    gap: 2rem;

                    .info {
                        display: grid;
                        align-content: start;
                        gap: 2rem;

                        .title {
                            a {
                                color: inherit;

                                display: inline-flex;
                                align-items: center;
                                gap: 1rem;

                                font-size: 2.8rem;
                                font-weight: 700;
                                text-decoration: none;
                            }
                        }

                        .description {
                            font-size: 1.8rem;
                            line-height: 1.5;
                        }

                        .tags {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
                            gap: 2rem;

                            li {
                                img {
                                    aspect-ratio: 1 / 1;
                                    object-fit: contain;
                                }
                            }
                        }

                        .links {
                            display: flex;
                            gap: 1rem;

                            li {
                                .button {
                                    justify-self: start;

                                    display: inline-flex;
                                    align-items: center;
                                    gap: 1ch;

                                    padding: 1rem 1.5rem;

                                    border-radius: var(--border-radius);

                                    font-size: 1.6rem;
                                    text-decoration: none;

                                    img {
                                        block-size: 1.5em;
                                    }

                                    &--primary {
                                        background-color: var(--color-primary);
                                        color: var(--color-gray-98);
                                    }

                                    &--github {
                                        background-color: var(--color-gray-10);
                                        color: var(--color-gray-90);
                                    }
                                }
                            }
                        }
                    }

                    .mockup {
                        display: grid;
                        place-items: center;

                        img {
                            max-block-size: 50rem;
                        }
                    }
                }
            }
        }
    }
}
