---
import '@styles/cv.scss';

import Layout from '@layouts/Layout.astro';

import Brief from '@cv/Brief.astro';
// import Header from '@slides/Header.astro';
// import Introduction from '@slides/Introduction.astro';
// import Jobs from '@slides/Jobs.astro';
// import Education from '@slides/Education.astro';
// import HardSkills from '@slides/HardSkills.astro';
// import SoftSkills from '@slides/SoftSkills.astro';
// import English from '@slides/English.astro';
// import Projects from '@slides/Projects.astro';
---

<Layout>
    <main>
        <div class="sheet">
            <Brief />
            <div class="content"></div>
        </div>
    </main>
</Layout>
