---
import '@styles/cv.scss';
import '@cv/HardSkills.scss';
import '@cv/SoftSkills.scss';
import '@cv/Jobs.scss';

import Layout from '@layouts/Layout.astro';

import Brief from '@cv/Brief.astro';
import Header from '@cv/Header.astro';
import Introduction from '@cv/Introduction.astro';
import HardSkills from '@cv/HardSkills.astro';
import SoftSkills from '@cv/SoftSkills.astro';
// import Education from '@cv/Education.astro';
// import English from '@cv/English.astro';
// import Projects from '@cv/Projects.astro';

import MohaymenTeamLeadJob from '@jobs/MohaymenTeamLeadJob.astro';
import MohaymenFrontendDeveloperJob from '@jobs/MohaymenFrontendDeveloperJob.astro';
import CodeStarInternshipOfficer from '@jobs/CodeStarInternshipOfficer.astro';
---

<Layout>
    <main>
        <div class="sheet">
            <div class="side">
                <Brief />
            </div>
            <div class="content">
                <Header />
                <Introduction />
                <HardSkills />
                <SoftSkills />
            </div>
        </div>
        <div class="sheet">
            <div class="side"></div>
            <div class="content">
                <section>
                    <h2>سوابق شغلی</h2>
                    <ul class="jobs">
                        <MohaymenTeamLeadJob />
                        <MohaymenFrontendDeveloperJob />
                    </ul>
                </section>
            </div>
        </div>
        <div class="sheet">
            <div class="side"></div>
            <div class="content">
                <section>
                    <h2>ادامه سوابق شغلی</h2>
                    <ul class="jobs">
                        <CodeStarInternshipOfficer />
                    </ul>
                </section>
            </div>
        </div>
    </main>
</Layout>
