---
import Layout from '@layouts/Layout.astro';
import Introduction from '@sections/Introduction.astro';
import HardSkills from '@sections/HardSkills.astro';
import SoftSkills from '@sections/SoftSkills.astro';
import Jobs from '@sections/Jobs.astro';
import Projects from '@sections/Projects.astro';
import Contact from '@sections/Contact.astro';
---

<Layout>
    <Introduction />
    <div class="divider narrow-to-wide">&nbsp;</div>
    <HardSkills />
    <div class="divider wide-to-narrow">&nbsp;</div>
    <SoftSkills />
    <div class="divider narrow-to-wide">&nbsp;</div>
    <Jobs />
    <div class="divider wide-to-narrow">&nbsp;</div>
    <Projects />
    <div class="divider narrow-to-wide">&nbsp;</div>
    <section></section>
    <div class="divider wide-to-narrow">&nbsp;</div>
    <Contact />
</Layout>

<style></style>
