---
const year = new Date().getFullYear();
---

<footer>
  <span class="persian"
    >تمامی حقوق مادی و معنوی این وب‌سایت متعلق به بیژن عیسی‌پور می‌باشد.</span
  >
  <span class="english">Copyright © {year} BijanProgrammer.com</span>
</footer>
