---
import MohaymenTeamLeadJob from "@jobs/MohaymenTeamLeadJob.astro";
import MohaymenFrontendDeveloperJob from "../jobs/MohaymenFrontendDeveloperJob.astro";
import CodeStarInternshipOfficer from "../jobs/CodeStarInternshipOfficer.astro";
---

<section id="jobs">
  <h2>سوابق شغلی</h2>
  <ul>
    <MohaymenTeamLeadJob />
    <MohaymenFrontendDeveloperJob />
    <CodeStarInternshipOfficer />
  </ul>
</section>
