---
import CodeStarProject from "@projects/CodeStarProject.astro";
import CodectiveProject from "@projects/CodectiveProject.astro";
import MotorpoolProject from "@projects/MotorpoolProject.astro";
import PassaidProject from "@projects/PassaidProject.astro";
import SchortProject from "@projects/SchortProject.astro";
import ShafafstuProject from "@projects/ShafafstuProject.astro";
import SwiftlogixProject from "@projects/SwiftlogixProject.astro";
import WebtideProject from "@projects/WebtideProject.astro";
---

<section id="projects">
  <h2>پروژه‌ها</h2>
  <ul>
    <CodectiveProject />
    <WebtideProject />
    <SchortProject />
    <CodeStarProject />
    <ShafafstuProject />
    <MotorpoolProject />
    <SwiftlogixProject />
    <PassaidProject />
  </ul>
</section>
