---
import CodeStarProject from "@projects/CodeStarProject.astro";
import PassaidProject from "@projects/PassaidProject.astro";
import ShafafstuProject from "@projects/ShafafstuProject.astro";
import SchortProject from "@projects/SchortProject.astro";
---

<section id="projects">
  <h2>پروژه‌ها</h2>
  <ul>
    <CodeStarProject />
    <SchortProject />
    <ShafafstuProject />
    <PassaidProject />
  </ul>
</section>
